@import-normalize;
:root{
    --ucsd-yellow: #FFCD00;
    --off-white:#EDF4FC;
    --blue:#2685B5;
    --blue-dark:#00629B;
    --sidewalk-grey: #E1E4EA;
    --grass-green: #82942E;
    --grass-green-dark: #776F0D;
}

html{
    scroll-behavior: smooth;
}

body,section,p,div{
    margin:0;
    padding:0;
}

body{
    font-family: sans-serif;
    color:var(--off-white);
    background-color: var(--blue);
}

section{
    padding-inline:10px;
}

.concrete-background{
    color:black;
    background-color: var(--sidewalk-grey);
}

.grass-background{
    color: var(--off-white);
    background-color: var(--grass-green);
}

a:-webkit-any-link{
    text-decoration: none;
    color: var(--off-white);
}

