.navbar{
    top:0;
    left:0;
    width:100%;
    
}
.navbar-brand{
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
}
.navbar-nav{
    margin: 0;
}
.navbar-nav li{
    display: inline-block;
    margin: 0;
}
.navbar-nav li a{
    color: #fff;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
}
.navbar-nav li a:hover{
    background-color: #444;
}
.navbar-nav li a.active{
    background-color: #444;
}
.navbar-nav li a.active:focus{
    background-color: #444;
}
