.shell {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: var(--grass-green-dark);
	border-radius: 10px;
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
	margin-bottom: 10px;
}

.title {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px;
	font-size: 1.2em;
	font-weight: bold;
	color: var(--off-white);
	cursor: pointer;
	border:none;
	background-color: var(--grass-green);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}

.plus {
	float: right;
}

.content {
	position: relative;
	max-width: fit-content;
	height: 100%;
	padding: 10px;
	font-size: var(--font-reg);
	color: var(--off-white);
	background-color: var(--grass-green-dark);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.content>p{
	overflow-wrap: break-word;
	margin: 0;
	padding: 0;
}
